@font-face {
    font-family: 'Heavyweight Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Heavyweight Regular'), url('assets/HEAVYWEI.woff') format('woff');
}

/*html {
    background: black;
}*/

canvas {
    position: absolute;
    top: 0;
    left: 0;
}